* {
    padding: 0;
    box-sizing: border-box;
  }

  :root {
      --blue: #194775;
      --orange: #e3bd4a;
      --red: #b22f2f;
      --yellow: #fbfb46;
  }

  body {
      background-color: var(--blue);
      margin: 10px;
  }
  header {
    padding: 20px;
    background-color: var(--red);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
   
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header a {
      text-decoration: none;
      padding: 10px;
      font-size: 36px;
      color: var(--orange);
      font-weight: bolder;
  }
  /* hero section */
.hero {
    height: 400px;
    width: 100%;
    background-image: url("../images/fcbarca.jpg");
    background-size: cover;
    background-position: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }